<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Задание на пагинацию</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
    </head>
    <body>
        <div id="root">
            <div class="image-card">
                <div class="img-load-block">

                    <img alt="picture" src="{{ url_for('upload_file') }}" id="image"/>
                    <button id="sel-img">Выбрать</button>
                </div>
    
                <div class="image-discript-block">
                    <input type="text" id="img-title"  class="img-info" placeholder="Название файла"/>
                    <input type="text" id="img-discription" class="img-info" placeholder="Описание файла"/>
                    <input type="text" id="img-tags" class="img-info" placeholder="Тэги"/>
                    <span>Размер файла: <span id="img-size-info" class="serv-info">неизвестно</span><br/></span>
                    <span>Расширение файла: <span id="img-extension-info" class="serv-info">неизвестно</span></span>
                    <button id="send-file">Отправить файл</button>
                </div>
            </div>
            <div class="server-response-block">
                <span>Статус ответа от сервера: <span id="response-status" class="serv-info">неизвестно</span></span>
                <span>Сообщение от сервера: <span id="response-message" class="serv-info">неизвестно</span></span>
            </div>
        </div>
        

        <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
    </body>
</html>
